<md-content style="min-height: calc(100vh - 120px);">
  <div >
    <md-card ng-repeat="order in OrdersCtrlVM.orders" ng-if="OrdersCtrlVM.orderPresent">
        <md-card-content>
          <div layout="row" layout-align="space-between">
            <div>
                <span style="font-weight:bold;" ng-click="OrdersCtrlVM.orderDetail(order.id, $event)">ORDER#{{order.id}}</span>
            </div>
            <div>
                <span style="font-weight:bold;">By {{order.user_name}}</span>
            </div>
          </div>
          <span style="color:gray;font-size:14px;text-align:justify">Rs. {{order.amount}}</span>
        </md-card-content>
      </md-card>
    <div ng-if="!OrdersCtrlVM.orderPresent" layout="row" layout-align="center">
      No order found
    </div>
    </div>
    <button class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling" type="button" aria-label="Add" ng-click="OrdersCtrlVM.showAdvanced($event,null,null)">
      <md-icon md-svg-src="images/plus.svg"  role="img" aria-hidden="true"></md-icon>
      <md-tooltip md-direction="top">Add Order</md-tooltip>
  </button>
</md-content>
