<style>
  .search-input{
    margin-bottom: -20px;
    margin-top: 10px;
  }
  .search-div{
    margin: 15px;
  }
</style>
<md-content md-theme="altTheme" style="min-height: calc(100vh - 120px);">
  <div>
<md-card ng-repeat="item in ItemCtrlVM.items" ng-if="ItemCtrlVM.itemPresent">
      <md-card-content>
        <div layout="row" layout-align="space-between">
          <div>
              <span style="font-weight:bold;">{{item.name | uppercase}}</span>
          </div>
          <div layout="row">
            <md-button id="close" class="md-icon-button" style="margin-top: -15px;" ng-click="ItemCtrlVM.showAdvanced($event,item,$index)">
              <md-icon md-svg-src="images/pencil.svg" class="ng-scope" role="img" aria-hidden="true"></md-icon>
              <md-tooltip>Edit</md-tooltip>
            </md-button>
          </div>
        </div>
        <span style="color:gray;font-size:14px;text-align:justify">Rs. {{item.price}}</span>
      </md-card-content>
    </md-card>
    <div ng-if="!ItemCtrlVM.itemPresent" layout="row" layout-align="center">
      No items found
    </div>
  </div>
<button class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling" type="button" aria-label="Add" ng-click="ItemCtrlVM.showAdvanced($event,null,null)">
    <md-icon md-svg-src="images/plus.svg"  role="img" aria-hidden="true"></md-icon>
    <md-tooltip md-direction="top">Add Item</md-tooltip>
</button>

</md-content>
